:root {
    --main-red: #ff0000;
    --secondary-red: #cc0000;
    --main-blue: #3B4CCA;
    --main-yellow: #FFDE00;
    --secondary-yellow: #b3a125;
}

@font-face {
    font-family: 'Andy Pro';
    src: url('../fonts/AndyPro-Bold.woff2') format('woff2'),
        url('../fonts/AndyPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Andy Pro';
}

/* --------- Header --------- */
.header {
    background-color: var(--main-red);
    margin: 0;
    width: 100vw;

}

.logo {
    width: 200px;
    margin: 20px;
}

/* --------- Main --------- */
.title {
    font-size: 3.5em;
    margin: 0;
    color: var(--main-blue);
}

.search-bar {
    border: 5px solid var(--main-blue);
    border-radius: 5px;
    background-color: var(--main-yellow);
    color: var(--main-blue);
    font-size: 1.6em;
    width: 300px;
    font-family: 'Andy pro';
    box-shadow: 10px 10px 10px var(--secondary-yellow);
}

.btn {
    border: 5px solid var(--main-blue);
    border-radius: 5px;
    background-color: var(--main-yellow);
    color: var(--main-blue);
    font-size: 1.6em;
    font-family: 'Andy pro';
    box-shadow: 10px 10px 10px var(--secondary-yellow);
}

.btn:active {
    background-color: var(--secondary-yellow);
}

.container {
    border: 5px solid var(--main-red);
    border-radius: 15px;
    margin: 35px auto;
    padding: 10px 25px;
}

.description {
    border: 5px solid var(--main-red);
    border-radius: 15px;
    background-color: var(--main-yellow);
    padding: 10px 25px;
}


/* --------- Image --------- */
.pokeImg {
    width: 250px;
}


/* --------- Footer --------- */
.footer {
    width: 100vw;
    height: 100px;
    background-color: var(--main-red);
}